spring:
  application:
    name: moa-backend

  profiles:
    default: dev

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

---
spring:
  config:
    activate:
      on-profile: dev

  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:15432/moa}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  flyway:
    locations:
      - classpath:db/migration
      - classpath:db/seed/dev

logging:
  level:
    org.flywaydb: INFO
    org.springframework.boot.autoconfigure: INFO

---
spring:
  config:
    activate:
      on-profile: prod

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  flyway:
    locations:
      - classpath:db/migration
      - classpath:db/seed/prod

  jpa:
    properties:
      hibernate:
        format_sql: false

logging:
  level:
    org.flywaydb: INFO
    org.springframework.boot.autoconfigure: WARN




